In [1]:
import pandas as pd
salaries_df = pd.DataFrame(pd.read_excel("salary_data_states_corrected.xlsx"))

#Lets see what kind of information this dataframe holds:
salaries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167278 entries, 0 to 167277
Data columns (total 27 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   CASE_NUMBER                     167278 non-null  object
 1   CASE_STATUS                     167278 non-null  object
 2   CASE_RECEIVED_DATE              167278 non-null  object
 3   DECISION_DATE                   167278 non-null  object
 4   EMPLOYER_NAME                   167278 non-null  object
 5   PREVAILING_WAGE_SUBMITTED       167278 non-null  float64
 6   PREVAILING_WAGE_SUBMITTED_UNIT  167278 non-null  object
 7   PAID_WAGE_SUBMITTED             167278 non-null  float64
 8   PAID_WAGE_SUBMITTED_UNIT        167278 non-null  object
 9   JOB_TITLE                       167278 non-null  object
 10  WORK_CITY                       167275 non-null  object
 11  EDUCATION_LEVEL_REQUIRED        11093 non-null   object
 12  COLLEGE_MAJOR_REQUIRED          11051 non-null   object
 13  EXPERIENCE_REQUIRED_Y_N         11093 non-null   object
 14  EXPERIENCE_REQUIRED_NUM_MONTHS  4965 non-null    float64
 15  COUNTRY_OF_CITIZENSHIP          11093 non-null   object
 16  PREVAILING_WAGE_SOC_CODE        167278 non-null  object
 17  PREVAILING_WAGE_SOC_TITLE       167278 non-null  object
 18  WORK_STATE                      167278 non-null  object
 19  WORK_STATE_ABBREVIATION         167278 non-null  object
 20  WORK_POSTAL_CODE                53674 non-null   object
 21  FULL_TIME_POSITION_Y_N          156185 non-null  object
 22  VISA_CLASS                      167278 non-null  object
 23  PREVAILING_WAGE_PER_YEAR        167210 non-null  float64
 24  PAID_WAGE_PER_YEAR              167278 non-null  float64
 25  JOB_TITLE_SUBGROUP              167278 non-null  object
 26  order                           167278 non-null  int64
dtypes: float64(5), int64(1), object(21)
memory usage: 34.5+ MB

In [2]:
#As we can see, we have a "JOB_TITLE_SUBGROUP" category that we can use to determine if the jobs are related to data.
salaries_df["JOB_TITLE_SUBGROUP"].value_counts()

software engineer        99364
business analyst         27811
assistant professor      18866
teacher                  13912
data analyst              3840
attorney                  1488
data scientist            1227
management consultant      770
Name: JOB_TITLE_SUBGROUP, dtype: int64

In [3]:
#Indeed, we have two categories called "data analyst" and "data scientist" that we can use.
#Lets create a seperate dataframe so that we can work on those data jobs easily.
data_salaries_df = salaries_df.loc[salaries_df['JOB_TITLE_SUBGROUP'].isin(["data analyst", "data scientist"])]
#Lets also drop rows that have missing state or paid_wage information, since we can't use them on our calculations
data_salaries_df = data_salaries_df.dropna(subset=['WORK_STATE', 'PAID_WAGE_PER_YEAR'])
#We actually don't need to have this here since there are no NaN values associates with these parameters, but it is
#Nice to keep this part just incase if we want to use this code with different data with same structure in the future

In [6]:
#Lets 
data_salaries_df.groupby('WORK_STATE').mean()

,PREVAILING_WAGE_SUBMITTED,PAID_WAGE_SUBMITTED,EXPERIENCE_REQUIRED_NUM_MONTHS,PREVAILING_WAGE_PER_YEAR,PAID_WAGE_PER_YEAR,order
WORK_STATE,,,,,,
Alabama,47900.808333,51092.333333,NaN,59283.333333,69803.333333,113526.166667
Arizona,63240.569744,75333.582051,NaN,65597.835897,78219.660513,99809.641026
Arkansas,49689.941176,62376.480000,NaN,49689.941176,62376.480000,135653.764706
California,84481.762460,97152.607841,26.351351,86306.714109,99190.308643,61040.866615
Colorado,60111.358974,65825.743590,12.000000,60111.358974,65825.743590,112363.589744
Connecticut,65232.429306,80773.386944,18.000000,66153.830556,81928.386944,97998.277778
Delaware,66820.365686,75090.434118,12.000000,70197.721569,78561.141176,90899.862745
District of Columbia,67235.996552,75026.650690,NaN,71601.896552,79758.167931,87589.172414
Florida,51666.579888,59335.402809,NaN,54110.222472,62016.612022,127298.898876
Georgia,61548.260584,70503.165325,60.000000,62924.315584,72325.665325,106817.727273
Hawaii,53756.333333,66240.333333,NaN,53756.333333,66240.333333,127599.444444
Idaho,45770.500000,48699.750000,NaN,45770.500000,48699.750000,147052.750000
Illinois,58310.800847,65792.693517,60.000000,59204.947034,66909.275085,115016.745763
Indiana,56714.797407,65591.362963,NaN,58603.607407,68286.362963,116111.333333
Iowa,51638.358636,57688.136364,NaN,56730.963636,63547.136364,121948.954545
Kansas,66005.333333,66005.333333,NaN,66005.333333,66005.333333,98536.333333
Kentucky,52776.666667,68533.333333,NaN,52776.666667,68533.333333,128341.000000
Louisiana,44897.807692,59692.307692,NaN,44897.807692,59692.307692,149319.538462
Maine,63117.625000,72595.250000,60.000000,63117.625000,72595.250000,108754.250000
Maryland,57522.242578,63533.130859,28.000000,62753.300313,69127.526328,106655.828125
Massachusetts,64895.534618,75737.185462,44.000000,68971.042570,79960.728233,92427.317269
Michigan,57677.558481,63143.189494,39.000000,65233.539241,71017.862532,101636.658228
Minnesota,68272.472000,66534.361647,39.000000,64825.065238,69985.998588,101351.764706
Mississippi,45916.000000,63100.000000,NaN,45916.000000,63100.000000,147135.000000
Missouri,55140.416275,67285.341765,NaN,55965.086275,68110.011765,123521.392157
Nebraska,43951.857143,52010.071429,NaN,43951.857143,52010.071429,150157.571429
Nevada,61838.428571,72265.000000,NaN,61838.428571,72265.000000,105146.857143
New Hampshire,73413.500000,75943.250000,NaN,73413.500000,75943.250000,79891.750000
New Jersey,60650.930030,66876.838799,20.571429,64305.100300,70514.901502,103845.210210
New Mexico,48686.000000,66979.466667,NaN,48686.000000,66979.466667,142289.000000
New York,66684.860703,79209.306352,14.000000,68735.120242,81722.315011,95320.793407
North Carolina,61490.251810,69054.229524,42.000000,63261.163810,71360.929524,103749.285714
North Dakota,31726.390000,33854.666667,NaN,45011.200000,47714.666667,148624.666667
Ohio,58707.044459,69988.389595,60.000000,60423.343243,71704.688378,112740.513514
Oklahoma,52490.266667,55498.400000,24.000000,52490.266667,55498.400000,130399.933333
Oregon,34664.083750,47518.329375,24.000000,61941.437500,75016.470000,109734.375000
Pennsylvania,52745.122458,61807.669746,NaN,56047.737288,66120.185254,122394.584746
Puerto Rico,36670.500000,45000.000000,NaN,36670.500000,45000.000000,160126.500000
Rhode Island,56870.216500,63098.850000,NaN,59295.370000,66737.100000,114735.000000
South Carolina,54350.500000,61402.000000,NaN,54350.500000,61402.000000,125767.166667
South Dakota,61630.000000,70000.000000,NaN,61630.000000,70000.000000,108483.000000
Tennessee,47157.944839,60240.157097,NaN,49323.458065,62587.415161,136424.645161
Texas,56901.958603,63472.353137,38.400000,60435.639412,67483.280784,112626.169118
Utah,52623.060667,73083.814667,NaN,59263.386667,81707.506667,113041.133333
Vermont,31574.000000,42000.000000,NaN,31574.000000,42000.000000,164764.000000
Virginia,62878.856609,66710.861985,52.000000,64405.779961,68407.990944,103158.225434
Washington,79959.856463,93743.267143,24.000000,83041.585034,96887.082857,65070.204082
Wisconsin,56016.743333,65579.124444,NaN,57562.133333,67242.324444,120800.666667