In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
salaries_df=pd.read_csv("salary_data_states_corrected.csv")

In [24]:
salaries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167278 entries, 0 to 167277
Data columns (total 27 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   CASE_NUMBER                     167278 non-null  object
 1   CASE_STATUS                     167278 non-null  object
 2   CASE_RECEIVED_DATE              167278 non-null  object
 3   DECISION_DATE                   167278 non-null  object
 4   EMPLOYER_NAME                   167278 non-null  object
 5   PREVAILING_WAGE_SUBMITTED       167278 non-null  float64
 6   PREVAILING_WAGE_SUBMITTED_UNIT  167278 non-null  object
 7   PAID_WAGE_SUBMITTED             167278 non-null  float64
 8   PAID_WAGE_SUBMITTED_UNIT        167278 non-null  object
 9   JOB_TITLE                       167278 non-null  object
 10  WORK_CITY                       167275 non-null  object
 11  EDUCATION_LEVEL_REQUIRED        11093 non-null   object
 12  COLLEGE_MAJOR_REQUIRED          11051 non-null   object
 13  EXPERIENCE_REQUIRED_Y_N         11093 non-null   object
 14  EXPERIENCE_REQUIRED_NUM_MONTHS  4965 non-null    float64
 15  COUNTRY_OF_CITIZENSHIP          11093 non-null   object
 16  PREVAILING_WAGE_SOC_CODE        167278 non-null  object
 17  PREVAILING_WAGE_SOC_TITLE       167278 non-null  object
 18  WORK_STATE                      167278 non-null  object
 19  WORK_STATE_ABBREVIATION         167278 non-null  object
 20  WORK_POSTAL_CODE                53674 non-null   object
 21  FULL_TIME_POSITION_Y_N          156185 non-null  object
 22  VISA_CLASS                      167278 non-null  object
 23  PREVAILING_WAGE_PER_YEAR        167210 non-null  float64
 24  PAID_WAGE_PER_YEAR              167278 non-null  float64
 25  JOB_TITLE_SUBGROUP              167278 non-null  object
 26  order                           167278 non-null  int64
dtypes: float64(5), int64(1), object(21)
memory usage: 34.5+ MB

In [8]:
salaries_df["CASE_STATUS"].value_counts()

certified              140031
certified-withdrawn     14146
withdrawn                5602
denied                   4273
certified-expired        3226
Name: CASE_STATUS, dtype: int64

In [11]:
salaries_df["EMPLOYER_NAME"].value_counts()

GOOGLE INC.                                           6213
FUJITSU AMERICA, INC.                                 1814
INTEL CORPORATION                                     1781
MICROSOFT CORPORATION                                 1364
QUALCOMM TECHNOLOGIES, INC.                           1277
                                                      ...
SYSTEM LOGISTICS CORPORATION                             1
OMAZE, INC.                                              1
FRESENIUS HEALTH PARTNERS CARE SYSTEMS, INC., A FR       1
BARNES GROUP INC.                                        1
SACRED HEART SCHOOL                                      1
Name: EMPLOYER_NAME, Length: 23773, dtype: int64

In [12]:
salaries_df["PREVAILING_WAGE_SUBMITTED_UNIT"].value_counts()

year         158413
hour           8500
month           292
week             59
bi-weekly        14
Name: PREVAILING_WAGE_SUBMITTED_UNIT, dtype: int64

In [13]:
salaries_df["PAID_WAGE_SUBMITTED_UNIT"].value_counts()

year         158428
hour           8397
month           358
week             62
bi-weekly        33
Name: PAID_WAGE_SUBMITTED_UNIT, dtype: int64

In [14]:
salaries_df["JOB_TITLE"].value_counts()

SOFTWARE ENGINEER                                54478
BUSINESS ANALYST                                 19516
SENIOR SOFTWARE ENGINEER                         11714
ASSISTANT PROFESSOR                              10134
Software Engineer                                 3743
                                                 ...
SENIOR SOFTWARE ENGINEER (PRODUCT SPECIALIST)        1
SOFTWARE ENGINEER - SENIOR KERNEL GENERALIST         1
SENIOR ORACLE APPS SOFTWARE ENGINEER                 1
ASSISTANT PROFESSOR OF FINANACE                      1
BILINGUAL SPECIAL EDUCATION TEACHER ASSISTANT        1
Name: JOB_TITLE, Length: 12589, dtype: int64

In [15]:
salaries_df["WORK_CITY"].value_counts()

NEW YORK         6714
MOUNTAIN VIEW    6712
SAN FRANCISCO    6458
SAN DIEGO        2983
SAN JOSE         2925
                 ...
TUPELO              1
Northfield          1
Marianna            1
San Anotnonio       1
DEL RIO             1
Name: WORK_CITY, Length: 4888, dtype: int64

In [16]:
salaries_df["EDUCATION_LEVEL_REQUIRED"].value_counts()

Master's       5550
Bachelor's     3938
Doctorate      1181
Other           366
None             30
Associate's      21
High School       7
Name: EDUCATION_LEVEL_REQUIRED, dtype: int64

In [17]:
salaries_df["COLLEGE_MAJOR_REQUIRED"].value_counts() #This column has alot of multivalues/duplicate data 
#including vague data's like Education or Anyfield

computer science                                                             1521
computer science, computer engg., electrical engg., or related field          502
any field                                                                     283
electrical engineering, computer engineering, computer science or related     195
education                                                                     158
                                                                             ...
physics or mathematics                                                          1
management science                                                              1
computer science,mathematics, soft. engineering                                 1
computer science,mathematics,soft. engineering                                  1
mass communications                                                             1
Name: COLLEGE_MAJOR_REQUIRED, Length: 3261, dtype: int64

In [18]:
salaries_df["EXPERIENCE_REQUIRED_Y_N"].value_counts() #only 10,000 applicants said anything for this

n    6139
y    4954
Name: EXPERIENCE_REQUIRED_Y_N, dtype: int64

In [19]:
salaries_df["EXPERIENCE_REQUIRED_NUM_MONTHS"].value_counts()

60.0     1604
24.0     1105
12.0      938
36.0      561
6.0       454
48.0       78
72.0       46
84.0       39
96.0       28
3.0        20
4.0        18
1.0        15
0.0        11
18.0       11
120.0       9
9.0         9
108.0       4
2.0         3
10.0        3
33.0        2
5.0         2
16.0        1
8.0         1
144.0       1
42.0        1
30.0        1
Name: EXPERIENCE_REQUIRED_NUM_MONTHS, dtype: int64

In [22]:
salaries_df["COUNTRY_OF_CITIZENSHIP"].value_counts()

INDIA                    6587
CHINA                    1101
CANADA                    425
PHILIPPINES               300
SOUTH KOREA               269
                         ...
SERBIA AND MONTENEGRO       1
ANTIGUA AND BARBUDA         1
ICELAND                     1
CYPRUS                      1
PARAGUAY                    1
Name: COUNTRY_OF_CITIZENSHIP, Length: 134, dtype: int64

In [25]:
salaries_df["FULL_TIME_POSITION_Y_N"].value_counts()

y    152594
n      3591
Name: FULL_TIME_POSITION_Y_N, dtype: int64

In [26]:
salaries_df["JOB_TITLE_SUBGROUP"].value_counts() #This has the simplified titles in full

software engineer        99364
business analyst         27811
assistant professor      18866
teacher                  13912
data analyst              3840
attorney                  1488
data scientist            1227
management consultant      770
Name: JOB_TITLE_SUBGROUP, dtype: int64

In [28]:
salaries_df["VISA_CLASS"].value_counts() #Differen't Visa's

H-1B               154497
greencard           11093
E-3 Australian       1393
H-1B1 Singapore       148
H-1B1 Chile           147
Name: VISA_CLASS, dtype: int64